#top{
	background-color: rgb(68, 67, 96);
	font-size: 40px;
	color: rgb(6, 250, 243 );
	text-align: center;
	border-radius: 10px;
}
#Myself{
	color: rgb(239, 39, 26 );
	height: auto;
	border: 2px #cc solid;
	font-size: 50px;
	text-align: center;
	background: url("IIT-Hyderabad.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 30px;
	border: 4px solid rgb(53, 43, 16 );
}
#hobbies{
	background-color: rgb(68, 67, 96);
	font-size: 40px;
	color: rgb(6, 250, 243 );
	text-align: center;
	border-radius: 10px;
}
.container{
	display: flex;
	padding: 10px;
}
.Box1{
	border: 4px solid rgb(53, 43, 16 );
	width: 60%;
	height: 800px;
	font-size: 40px;
	background: url("Hobbies.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
}
.hobby{
	display: flex;
	height: 400px;
}
.hobby1{
	position: relative;
	width: 250px;
	height: 250px;
	margin-top: 50px;
	margin-left: 30px;
}
.basketball_img{
	display: block;
	width: 100%;
}
.basketball_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6); 
	color: rgb(255,255,255);
	font-family: 'Quicksand', sns-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.50s;
} 
.basketball_overlay > * {
	transform: translateY(10px);
	transition: transform 0.50s;
}
.basketball_overlay:hover{
	opacity: 1;
}
.basketball_overlay:hover > *{
	transform: translateY(0);
}
.basketball_title{
	margin-top: 70px;
	font-size: 50px;
	font-weight: bold;
}
.basketball_description{
	margin-top: 10px;
	font-size: 20px;
}
.hobby2{
	position: relative;
	width: 250px;
	height: 200px;
	margin-top: 50px;
	margin-left: 30px;
}
.cricket_img{
	display: block;
	width: 100%;
	height: 100%;
}
.cricket_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6); 
	color: rgb(255,255,255);
	font-family: 'Quicksand', sns-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.50s;
} 
.cricket_overlay > * {
	transform: translateY(10px);
	transition: transform 0.50s;
}
.cricket_overlay:hover{
	opacity: 1;
}
.cricket_overlay:hover > *{
	transform: translateY(0);
}
.cricket_title{
	margin-top: 70px;
	font-size: 50px;
	font-weight: bold;
}
.cricket_description{
	margin-top: 10px;
	font-size: 20px;
}
.hobby3{
	position: relative;
	width: 250px;
	height: 200px;
	margin-top: 50px;
	margin-left: 30px;
}
.music_img{
	display: block;
	width: 100%;
	height: 100%;
}
.music_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6); 
	color: rgb(255,255,255);
	font-family: 'Quicksand', sns-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.50s;
} 
.music_overlay > * {
	transform: translateY(10px);
	transition: transform 0.50s;
}
.music_overlay:hover{
	opacity: 1;
}
.music_overlay:hover > *{
	transform: translateY(0);
}
.music_title{
	margin-top: 70px;
	font-size: 50px;
	font-weight: bold;
}
.songs{
	background-color: rgb(68, 67, 96);
	font-size: 40px;
	color: rgb(6, 250, 243 );
	text-align: center;
	border-radius: 10px;
}
.song{
	display: flex;
}
.song1{
	position: relative;
	width: 250px;
	height: 200px;
	margin-top: 50px;
	margin-left: 30px;
}
.stand_img{
	display: block;
	width: 100%;
	height: 100%;
}
.stand_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6); 
	color: rgb(255,255,255);
	font-family: 'Quicksand', sns-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.50s;
} 
.stand_overlay > * {
	transform: translateY(10px);
	transition: transform 0.50s;
}
.stand_overlay:hover{
	opacity: 1;
}
.stand_overlay:hover > *{
	transform: translateY(0);
}
.stand_title{
	margin-top: 70px;
	font-size: 50px;
	font-weight: bold;
}
.song3{
	position: relative;
	width: 250px;
	height: 200px;
	margin-top: 50px;
	margin-left: 30px;
}
.rude_img{
	display: block;
	width: 100%;
	height: 100%;
}
.rude_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6); 
	color: rgb(255,255,255);
	font-family: 'Quicksand', sns-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.50s;
} 
.rude_overlay > * {
	transform: translateY(10px);
	transition: transform 0.50s;
}
.rude_overlay:hover{
	opacity: 1;
}
.rude_overlay:hover > *{
	transform: translateY(0);
}
.rude_title{
	margin-top: 70px;
	font-size: 50px;
	font-weight: bold;
}
.song2{
	position: relative;
	width: 250px;
	height: 200px;
	margin-top: 50px;
	margin-left: 30px;
}
.just_img{
	display: block;
	width: 100%;
	height: 100%;
}
.just_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6); 
	color: rgb(255,255,255);
	font-family: 'Quicksand', sns-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.50s;
} 
.just_overlay > * {
	transform: translateY(10px);
	transition: transform 0.50s;
}
.just_overlay:hover{
	opacity: 1;
}
.just_overlay:hover > *{
	transform: translateY(0);
}
.just_title{
	margin-top: 70px;
	font-size: 50px;
	font-weight: bold;
}
.Box2{
	border: 4px solid rgb(53, 43, 16 );
	width: 40%;
	height: 800px;
	background-color: rgb(215, 192, 126);
	border-radius: 30px;
}
#random{
	font-size: 40px;
	text-align: center;
}
#Gallery{
	border: 4px solid rgb(53, 43, 16 );
    height: auto;
	background-color: rgb(215, 192, 126);
	border-radius: 10px;
}
#images1{
	display: flex;
	margin: 90px;
}
#images2{
	display: flex;
	margin: 90px;
}
.image1{
	width: 600px;
	height:300px;
	border-radius: 30px;
}
.image1:hover{
	width: 650px;
	height:320px;
	border-radius: 30px;
	border: 10px solid rgb(34, 227, 46);
	transition-duration: 0.500s;
}
.image2{
	width: 600px;
	height:300px;
	border-radius: 30px;
	margin-left: 80px;
}
.image2:hover{
	width: 650px;
	height:320px;
	border-radius: 30px;
	border: 10px solid rgb(34, 227, 46);
	transition-duration: 0.500s;
}
.image3{
	width: 600px;
	height:300px;
	border-radius: 30px;
}
.image3:hover{
	width: 650px;
	height:320px;
	border-radius: 30px;
	border: 10px solid rgb(34, 227, 46);
	transition-duration: 0.500s;
}
.image4{
	width: 600px;
	height:300px;
	border-radius: 30px;
	margin-left: 80px;
}
.image4:hover{
	width: 650px;
	height:320px;
	border-radius: 30px;
	border: 10px solid rgb(34, 227, 46);
	transition-duration: 0.500s;
}
body{
	background-color: rgb(0, 0, 0);
}